<h4>You've been added!</h4>
<p>Be sure to open up spotify, disable shuffle or repeats, and play any track to make sure we know which device to start playback on!</p>
<p>Click the link again to be removed from this share</p>
