@model SpotShare.Models.Link

<div>
    <h4>Playlist Link</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Link
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>        
    </dl>
</div>

