@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Would you like to share some music?</h1>
        <button id="authBtn">Do it</button>
        <div id="initLink" hidden>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="#" id="makeShare">Share something</a></li>
                <li class="nav-item"><a href="#" id="getShares">View existing shares</a></li>
                <li class="nav-item"><a href="#" id="getPlaylists">View all playlists</a></li>
            </ul>
        </div>
    </div>